.close{
    color: #fff;
    opacity: 1;
    font-size: 25px;
}

.modal-header,.close {
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    background-color: darkgrey;
    text-transform: capitalize;
    padding: 10px;


}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    padding-bottom:0px ;
}

.modal-footer {
    background-color: darkgrey;

}



